* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
  }

  .boxShadow{
    /* border-style: solid; */
    -webkit-box-shadow: -8px -11px 63px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px -11px 63px 9px rgba(0,0,0,0.75);
    box-shadow: -8px -11px 63px 9px rgba(0,0,0,0.75);
    /* background-color:cadetblue; */
  }

  .boxShadowZoomOut{
    /* border-style: solid; */
    -webkit-box-shadow: -8px -11px 63px 9px pink;
    -moz-box-shadow: -8px -11px 63px 9px pink;
    box-shadow: -8px -11px 63px 9px pink;
    /* background-color:cadetblue; */
  }

  .boxShadowZoomIn{
    /* border-style: solid; */
    -webkit-box-shadow: -8px -11px 63px 9px lightblue;
    -moz-box-shadow: -8px -11px 63px 9px lightblue;
    box-shadow: -8px -11px 63px 9px lightblue;
    /* background-color:cadetblue; */
  }
  
  #target {
    margin: 0em;
    padding: 2em;
    background: white;
    border: 1px solid black;
  }

  .dot {
      height: 8px; width: 8px;
      border-radius: 4px; /* rounds corners */
      background:red;
      position: absolute;
    }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    text-align: center;
    background: white;
  }
  
  .header h1 {
    font-size: 50px;
  }
  .zoomInfo{
    font-size: medium;
  
  }

  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }